<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment(title,path)">
    <meta charset="UTF-8">
    <title>静奇羽毛球 jq-badminton</title>
    <link rel="shortcut icon" th:href="@{/admin/dist/img/logo2.png}"/>
    <link rel="stylesheet" th:href="@{/badminton/css/swiper.min.css}">
    <link rel="stylesheet" th:href="@{/badminton/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/badminton/css/common.css}">
    <link rel="stylesheet" th:href="@{/badminton/styles/header.css}">
    <link rel="stylesheet" th:href="@{'/badminton/styles/'+${path}+'.css'}">
    <link rel="stylesheet" th:href="@{/admin/plugins/sweetalert/sweetalert.css}"/>
</head>
<nav id="nav" th:fragment="nav-fragment">
    <div class="banner_x center">
        <a th:href="@{/index}" class="logo"><h1>静奇羽毛球</h1></a>
        <a th:href="@{/index}" class="gif"></a>
        <ul class="list">
            <li><a href="##">秒杀</a></li>
            <li><a href="##">优惠券</a></li>
        </ul>
        <div class="fr">
            <div class="search">
                <input class="text" type="text" id="keyword" autocomplete="off">
                <div class="search_hot">
                </div>
            </div>
            <div class="button iconfont icon-search" onclick="search()"></div>
        </div>
    </div>
</nav>
<header id="header" th:fragment="header-fragment">
    <div class="center">
        <ul class="fl">
            <li><a th:href="@{/index}">静奇羽毛球</a></li>
            <li><a th:href="@{/admin}">后台管理系统</a></li>
            <li><a href="http://bbs.badmintoncn.com/forum.php">中羽在线</a></li>
<!--            <a href="https://juejin.im/book/5da2f9d4f265da5b81794d48?referrer=59199e22a22b9d0058279886">课程文档</a>-->
<!--            <li><a href="https://gitee.com/newbee-ltd/newbee-donate">捐赠</a></li>-->
<!--            <li><a href="https://github.com/newbee-ltd/newbee-mall/issues">问题反馈</a></li>-->
<!--            <li><a href="https://github.com/newbee-ltd/newbee-mall">GitHub 地址</a></li>-->
<!--            <li><a href="https://gitee.com/newbee-ltd/newbee-mall">码云Gitee 地址</a></li>-->
        </ul>
        <div class="fr">
            <th:block th:unless="${session.jqBadmintonUser==null}">
                <div class="user">
                    <ul class="selector">
                        <li>
                            <a th:href="@{/personal}">
                                个人中心
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/orders}">
                                我的订单
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">
                                退出登录
                            </a>
                        </li>
                    </ul>
                    <a href="##" class="username">
                        <th:block th:text="${session.jqBadmintonUser.nickName}"></th:block>
                        <i class="iconfont icon-down"></i>
                    </a>
                </div>
                <div class="shopcart">
                    <a th:href="@{/shop-cart}" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(
                        <th:block th:text="${session.jqBadmintonUser.shopCartItemCount}"></th:block>
                        )</a>
                </div>
            </th:block>
            <th:block th:if="${session.jqBadmintonUser==null}">
                <ul class="login">
                    <li><a th:href="@{/login}">登录</a></li>
                    <li><a th:href="@{/register}">注册</a></li>
                </ul>
                <div class="shopcart">
                    <a href="##" style="color: white;"><i class="iconfont icon-cart"></i>
                        购物车(0)</a>
                </div>
            </th:block>
        </div>
    </div>
</header>
</html>